
   <div class="container">
            <h1 class="text-center text-danger">ĐĂNG NHẬP</h1>
        <form method="post" action="{{url_for('login_admin')}}">
                <div class="form-group">
                    <label for="username">Tên đăng nhập:</label>
                    <input type="text"
                           name="username"
                           id="username"
                           class="form-control" />
                </div>
                 <div class="form-group">
                     <label for="password">Mật khẩu:</label>
                    <input type="password"
                           name="password"
                           id="password"
                           class="form-control" />
                </div>

            {% if err_msg %}
            <div class="alert alert-danger text-center">
                <h4>{{err_msg}}</h4>
            </div>
            {% endif %}

                <div class="form-group">
                    <input type="submit" value="Đăng nhập" class="btn btn-danger btn-block" />
                </div>
        </form>
            <h5 class="text-right"> <a class="text-danger" href="/admin/register">Đăng ký</a> </h5>
   </div>

